@import url(//fonts.googleapis.com/earlyaccess/nicomoji.css);
@import url(//fonts.googleapis.com/css?family=K2D);

:root {
    --white: #ffffff;
    --blue: #00F0FF;
    --yellow: #FFC700;
    --lime: #00ff2a;
    --red: #E00849;

    --bg-fill-color: rgba(10, 51, 58, 0.425);
    --bg-module-color: rgba(0, 0, 0, 0.9);
    --bg-hover-color: rgba(0, 0, 0, 0.5);
    --gradient-fill-color: #001C1A;
    --bg-scrollbar: #017A73;
    --red-bg-color: #64160457;
    --red-bg-hover: #7a1c0788;
    --green-bg-hover: #08422356;

    --health-bar: #009D48;
    --energy-bar: #8929a1;
    --progress-bar: #00F0FF;
    --bg-progress-color: rgba(0, 0, 0, 0.24);
  }

body, html {
    max-height: 100%;
    width: 100%;
    margin: 0;
    overflow-y: hidden;
}

* {
    box-sizing: border-box;
    list-style: none;
    color: var(--white);
    font-family: 'K2D', 'Roboto', sans-serif;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 0.14em;
}

.display-font {
    font-family: 'Nico Moji';
    letter-spacing: 0.405em;
    text-transform: uppercase;
}

#navbar-btn,
#footer-btn  {
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
}

@media only screen and (min-width: 850px) {
    h1 {
        font-size: 18px;
        margin-left: 0;
    }
    #footer-btn  {
        font-size: 20px;
        text-align: center;
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 850px) {
    h1 {
        font-size: 15px;
        margin-left: 27px;
    }
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

h3, p {
    font-size: 14px;
}

h4 {
    font-size: 12px;
}

.game-selection h4 {
    text-align: center;
}

.bg-blur {
    background-image: none;
    height: 100vh;
    width: 100%;
    z-index: 2;
}

#bg-gradient {
    background-image: none;
    height: 100vh;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0%;
}

.bg-img {
    background-image: url("static/bg.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    opacity: 1;
    z-index: 1;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .bg-blur {
        backdrop-filter: blur(7px);
        height: 100vh;
        width: 100%;
        z-index: 2;
    }
    #bg-gradient {
        background-image: linear-gradient(to bottom, var(--gradient-fill-color) 35%, var(--lime) 120%);
        height: 100vh;
        width: 100%;
        z-index: -1;
        position: absolute;
        top: 0%;
    }
    
    .bg-img {
        background-image: url("static/edited-shot-by-cerqueira-0o_GEzyargo-unsplash.png");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
        opacity: 0.6;
        z-index: 1;
    }
  }


.parent-grid {
    display: grid;
    max-height: 100vh;
    max-width: 100vw;
    grid-template-columns: .15fr repeat(2, 2fr) .15fr; 
    grid-template-rows: 1fr repeat(4, 1fr) repeat(5, 3fr) 1fr 1fr; 
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

    .full-grid { grid-area: 1 / 1 / 13 / 5; }
    .ui-grid { grid-area:  2 / 2 / 12 / 4; } 
    .inside-grid { grid-area:  2 / 2 / 12 / 4; }

    nav { grid-area: 2 / 2 / 3 / 4;}
    #navbar-rules { grid-area:  3 / 4 / 11 / 2; }
    header { display: none ;}
    #log-status { grid-area: 3 / 2 / 5 / 4; }
    #log-header { grid-area: 5 / 2 / 6 / 3; }
    #log-content { grid-area: 6 / 2 / 9 / 3; } 
    #rock-paper-scissors { grid-area: 9 / 2 / 11 / 4; }
    #map-grid { grid-area:  5 / 3 / 9 / 4; } 
    footer { grid-area: 11 / 2 / 12 / 4; }

@media only screen and (min-width: 850px) {

    .parent-grid {
        align-items: stretch;
        grid-template-columns: repeat(26, 1fr);
        grid-template-rows: 2fr 50px repeat(22, 1fr) 50px 2fr; 
        gap: 0px;
    }

        .full-grid { grid-area:  1 / 1 / 27 / 27; }
        .ui-grid { grid-area:  2 / 2 / 26 / 26; } 
        .inside-grid { grid-area:  3 / 2 / 25 / 26; }
        
        nav { 
            grid-area: 2 / 2 / 3 / 26; 
            align-self: stretch;
        }
        #navbar-rules { grid-area: 3 / 2 / 25 / 10; }
        header { 
            grid-area: 4 / 3 / 6 / 17; 
            display: block;
        }
        #log-status { grid-area: 6 / 3 / 13 / 8; }
        #log-header { grid-area: 6 / 8 / 6 / 17;  }
        #log-content { grid-area: 7 / 8 / 13 / 17; } 
        #rock-paper-scissors { grid-area: 14 / 3 / 23 / 17; }
        #map-grid { grid-area: 6 / 18 / 23 / 25; } 
        footer { grid-area: 25 / 2 / 25 / 26;}

    #stat-bars {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    #stat-bars div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 7px;
    }
    
    #stat-bars label {
        margin-top: 3px;
    }
    
    progress[value] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 2px solid var(--white);
        background: var(--bg-progress-color);
        color: var(--progress-bar);
        height: 25px;
        width: 100%;
    }
    
}

nav, footer {
    display: flex;
    justify-content: space-between;
}

#navbar-btn, #navbar-played {
    flex-grow: 2;
}

#navbar-points, #navbar-survived, #navbar-lost,
#footer-btn {
    flex-grow: 1;
}

#footer-grid-link {
    flex-grow: 4;
}

#log-content { 
    overflow-y: scroll;
    scrollbar-color: var(--blue) var(--bg-scrollbar);
    padding-bottom: 5px;
} 

#rock-paper-scissors{ 
    align-items: start;
}

#map-grid { 
    margin-left: -25px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
    height: 100%;
    width: 100%;
} 

#footer-btn { 
    background-color: var(--bg-module-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

#footer-btn img {
    height: 30px;
    width: auto;
    margin-right: 12px;
}

#navbar-rules div {
    margin: 35px;
    line-height: 30px;
}

#navbar-rules h2, #navbar-rules p {
    font-size: 18px;
}

.ui-grid {
    background-color: var(--bg-fill-color);
}

#navbar-rules {
    z-index: 6;
}

#navbar-btn { 
    background-color: var(--bg-module-color);
    cursor: pointer;
}

canvas {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

#ship {
    z-index: 5;
}

#computer {
    z-index: 5;
}

#spawn {
    z-index: 2;
}

#particles {
    z-index: 4;
}

#map {
    height: 100%;
    width: 100%;
    z-index: 3;
}

#canvas-bg {
    background-color: #021317; 
    height: 100%;
    width: 100%;
    z-index: 1;
}

.hidden {
    visibility: collapse;
}

#navbar-btn:hover,
#footer-btn:hover {
    background-color: var(--bg-hover-color);
}

nav div,
footer div,
nav a,
footer a {
    padding-top: 12px;
}

nav div {
    text-align: center;
}

#reset-btn {
    font-size: 20px;
    background: none;
    text-align: left;
    margin-left: 2em;
    opacity: 0.8;
    border: none;
}

    #reset-btn:hover {
        opacity: 1;
        cursor: pointer;
    }

.hide-contents {
    display: contents;
}

.container-color {
    background: var(--bg-module-color);
}

.alert-text {
    color: var(--yellow);
}

.alert-border {
    border: 2px solid var(--yellow);
    box-shadow: 0 0 0.3em var(--yellow);
}

.green-border {
    border: 2px solid var(--lime);
    box-shadow: 0 0 0.3em var(--lime);
}

.outline {
    outline: var(--blue) solid 2px;
}

.neon {
    box-shadow: 0px 0px 4px var(--blue);
}

.neon-alert {
    box-shadow: 0px 0px 4px var(--yellow);
}

.neon-green {
    box-shadow: 0px 0px 4px var(--lime);
}

.main-border {
    border: 2px solid var(--blue);
}

.border-r {
    border-right: 2px solid var(--blue);
}

.border-rb {
    border-right: 2px solid var(--blue);
    border-bottom: 2px solid var(--blue);
}

.border-b {
    border-bottom: 2px solid var(--blue);
}

.border-t {
    border-top: 2px solid var(--blue);
}

.border-left {
    border-left: 2px solid var(--blue);
}

.border--remove-btm {
    border-bottom: none;
}

header p {
    letter-spacing: auto;
    margin-top: -5px;
}

#capt-log h2, 
#capt-log h3, 
#capt-log p,
.game-selection h3,
#rock-paper-scissors h2 {
    margin-left: 25px;
    margin-right: 25px;
}

#rock-paper-scissors {
    padding-top: 10px;
}

@media only screen and (max-width: 850px) {

    #stat-bars {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 7px;
    }

    #stat-bars div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 7px;
    }

    #stat-bars label {
        margin-top: 3px;
    }

    progress[value] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 2px solid var(--white);
        background: var(--bg-progress-color);
        color: var(--progress-bar);
        height: 25px;
        width: 100%;
    }

}

#health-bar::-webkit-progress-bar,
#energy-bar::-webkit-progress-bar,
#progress-bar::-webkit-progress-bar {
    background-color: var(--bg-progress-color);
}
    #health-bar::-webkit-progress-value {
        background-color: var(--health-bar);
    }
    #health-bar::-moz-progress-bar {
        background-color: var(--health-bar);
    }
    #energy-bar::-webkit-progress-value {
        background-color: var(--energy-bar);
    }
    #energy-bar::-moz-progress-bar {
        background-color: var(--energy-bar);
    }
    #progress-bar::-webkit-progress-value {
        background-color: var(--progress-bar);
    }
    #progress-bar::-moz-progress-bar {
        background-color: var(--progress-bar);
    }

.choices {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

.choice-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px; 
}

.choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
}

.choice img {
    width: 50%;
    margin: 0 auto;
    opacity: 1;
}

.player-choice {
    display: none;
}

.choice:hover .player-choice {
    display: block;
}

.show-choice {
    display: block;
}

.choice-btn:hover {
    filter: invert(80%) sepia(6%) saturate(6193%) hue-rotate(139deg) brightness(500%) contrast(104%);
}

#start-container, #play-again-container {
    display: flex;
    align-items: center;
    z-index: 10;
}

.alert {
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    padding: 40px;
    z-index: 5;
}  

#play-again div {
    width: 70%;
    padding-bottom: 20px;
}

.alert-btn {
    cursor: pointer;
    width: 400px;
    height: 60px;
    background-color: var(--bg-module-color);
} 

.alert-btn:hover {
    background-color: var(--green-bg-hover);
}

.red-btn {
    background-color: var(--red-bg-color);
    border: 2px solid var(--red);
}

.red-btn:hover {
    background-color: var(--red-bg-hover);
}

.btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-container .alert-btn {
    margin: 5px;
}

@media only screen and (min-width: 850px) {
    .btn-container .alert-btn {
        width: 280px;
        height: 60px;
    }
    .alert {
        width: 670px;
        height: 300px;
    }
}

@media only screen and (max-width: 850px) {
    .btn-container .alert-btn {
        width: 190px;
        height: 50px;
    }
}

      
    

